@import "./element.scss";
@import "./transition/index.scss";
//@import "./common.scss";

html, body, #app,.el-container {
  height: 100%;
}


.iconfont {
  font-size: 18px !important;
}


.el-drawer__container div, .el-drawer__header span:focus {
  outline: 0;
}

.el-card__header {
  padding: 10px 20px !important;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0 auto !important;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.menu-type {
  position: relative;
  width: 56px;
  height: 48px;
  margin-right: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: #f0f2f5;
  border-radius: 4px;
  box-shadow: 0 1px 2.5px #0000002e
}

.menu-type:before, .menu-type:after {
  position: absolute;
  content: ""
}

.menu-type--sidebar:before, .menu-type--light:before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 33%;
  height: 100%;
  background-color: #273352;
  border-radius: 4px 0 0 4px
}

.menu-type--sidebar:after, .menu-type--light:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #fff
}

.menu-type--top-mix:before {
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px 0 0 4px
}

.menu-type--top-mix:after {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 25%;
  background-color: #273352
}

.menu-type--top-menu:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #273352
}

.menu-type--dark {
  background-color: #273352
}

.menu-type--mix-sidebar:before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
  background-color: #273352;
  border-radius: 4px 0 0 4px
}

.menu-type--mix-sidebar:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #fff
}

.menu-type--mix-sidebar .mix-sidebar {
  position: absolute;
  left: 25%;
  width: 15%;
  height: 100%;
  background-color: #fff
}

.menu-type:hover, .menu-type--active {
  border: 2px solid var(--el-color-primary)
}

.menu-type:hover:before, .menu-type--active:before, .menu-type:hover:after, .menu-type--active:after {
  border-radius: 0
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}