@use "./element.scss";
@use "./transition/index.scss";
@import "./theme/index";

html, body, #app, .el-container {
  height: 100%;
}

.iconfont {
  font-size: 18px !important;
}


.el-drawer__container div, .el-drawer__header span:focus {
  outline: 0;
}

//.el-card__header {
//  padding: 10px 20px !important;
//  font-size: 14px;
//}

body {
  height: 100%;
  margin: 0 auto !important;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.menu-type {
  position: relative;
  width: 56px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  background-color: #f0f2f5;
  border-radius: 4px;
  box-shadow: 0 1px 2.5px #0000002e
}

.menu-type:before, .menu-type:after {
  position: absolute;
  content: ""
}

.menu-type--vertical:before, .menu-type--light:before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
  background-color: #273352;
  border-radius: 4px 0 0 4px
}

.menu-type--vertical:after, .menu-type--light:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #fff
}

.menu-type--horizontal:after {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 25%;
  background-color: #273352
}

.menu-type--dark {
  background-color: #273352
}

.menu-type--mix:before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
  background-color: #273352;
  border-radius: 4px 0 0 4px
}

.menu-type--mix:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #273352
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}