@for $i from 0 through 6 {
  .m-#{$i} {
    margin: calc(#{$i}rem / 4);
  }
  .mt-#{$i} {
    margin-top: calc(#{$i}rem / 4);
  }
  .mr-#{$i} {
    margin-right: calc(#{$i}rem / 4);
  }
  .mb-#{$i} {
    margin-bottom: calc(#{$i}rem / 4);
  }
  .ml-#{$i} {
    margin-left: calc(#{$i}rem / 4);
  }
  .my-#{$i} {
    margin: calc(#{$i}rem / 4) 0;
  }
  .mx-#{$i} {
    margin: 0 calc(#{$i}rem / 4);
  }

  .p-#{$i} {
    padding: calc(#{$i}rem / 4);
  }
  .pt-#{$i} {
    padding-top: calc(#{$i}rem / 4);
  }
  .pr-#{$i} {
    padding-right: calc(#{$i}rem / 4);
  }
  .pb-#{$i} {
    padding-bottom: calc(#{$i}rem / 4);
  }
  .pl-#{$i} {
    padding-left: calc(#{$i}rem / 4);
  }
  .py-#{$i} {
    padding: calc(#{$i}rem / 4) 0;
  }
  .px-#{$i} {
    padding: 0 calc(#{$i}rem / 4);
  }
}

.w-full {
  width: 100% !important;
}